# Säljrapport

*Förslag på rapportstruktur*

## Introduktion

Här skriver vi en kort introduktion.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from src.io_utils import load_data, clean_data, save_data

# Load
df_raw = load_data("data/ecommerce_sales.csv")

# Clean
df_clean = clean_data(df_raw)

# Save
save_data(df_clean, "data/clean_data.csv")

df_clean.head()

,order_id,date,city,category,price,units,revenue,month,week
1847,101847,2024-01-01,Stockholm,Clothing,309.63,6,1857.78,2024-01-01,2024-01-01
120,100120,2024-01-01,Malmö,Home,502.33,2,1004.66,2024-01-01,2024-01-01
609,100609,2024-01-01,Malmö,Clothing,480.18,3,1440.54,2024-01-01,2024-01-01
516,100516,2024-01-01,Västerås,Electronics,1037.70,4,4150.80,2024-01-01,2024-01-01
1939,101939,2024-01-01,Göteborg,Sports,315.92,7,2211.44,2024-01-01,2024-01-01

## Nyckeltal

Här visualiserar vi våra nyckeltal.

### 1. Vad säljer? – vilka kategorier driver mest intäkt?

**Nyckeltal:** Total intäkt och totalt antal enheter & Intäkt per kategori

### 2. Var säljer vi? – vilka städer står för störst intäkt?

**Nyckeltal:** Intäkt per stad

In [2]:
from src.metrics import revenue_per_city, top3_cities
from src.viz import plot_tot_revenue_per_city

print("Top 3 cities per sales:")
print(top3_cities(df_clean))

print()
plot_tot_revenue_per_city(df_clean)

c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:52: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())
c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:63: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())
c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:72: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())

ValueError: too many values to unpack (expected 2)

### 3. När säljer vi? – finns tidsmönster/säsong i försäljningen?

 **Nyckeltal:** TBD

In [3]:
from src.metrics  import  revenue_over_time

#revenue_over_time(df_clean)

ts_month = revenue_over_time(df_clean)
ts_month.head()

c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:131: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(freq)["revenue"]

     month  revenue
0  2024-01      438
1  2024-02      352
2  2024-03      402
3  2024-04      423
4  2024-05      422

In [ ]:
from src.metrics import revenue_over_time, total_revenue
from src.viz import revenue_monthly_bar

# revenue_total = V.revenue_total(df_clean)
# revenue_by_month = V.revenue_by_month(df_clean),
# revenue_total, revenue_by_month

fig, ax = plt.subplots(figsize=(9,4))
revenue_monthly_bar(ax, revenue_over_time["month"], total_revenue["revenue"], "Revenue by month", "Month", "Revenue")

c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:52: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())
c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:63: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())
c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:72: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["revenue"].sum() / x["order_id"].nunique())

ValueError: too many values to unpack (expected 2)

### 4. Hur ser en typisk order ut? – AOV (Average Order Value) och spridning.

**Nyckeltal:** AOV (Average Order Value)

### 5. Topp-listor – topp-3 kategorier efter intäkt.

**Nyckeltal:** Top-3 kategorier efter intäkt

### 6. Eventuella avvikelser – något oväntat mönster som sticker ut?

*Insikter om avvikelser som går att utläsa från sammanställning av datan ovan*

## Rekommendationer

Avsluta rapporten med 2–3 korta rekommendationer (punktlista) baserat på era resultat, t.ex. “Satsa på kategori X i stad Y under månad Z”.