# Säljrapport

*Förslag på rapportstruktur*

## Introduktion

Här skriver vi en kort introduktion.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from src.io_utils import load_data, clean_data, save_data

# Load
df_raw = load_data("data/ecommerce_sales.csv")

# Clean
df_clean = clean_data(df_raw)

# Save
save_data(df_clean, "data/clean_data.csv")

df_clean.head()

## Nyckeltal

Här visualiserar vi våra nyckeltal.

### 1. Vad säljer? – vilka kategorier driver mest intäkt?

**Nyckeltal:** Total intäkt och totalt antal enheter & Intäkt per kategori

### 2. Var säljer vi? – vilka städer står för störst intäkt?

**Nyckeltal:** Intäkt per stad

In [ ]:
from src.metrics import revenue_per_city, top3_cities
from src.viz import plot_tot_revenue_per_city

print("Top 3 cities per sales:")
print(top3_cities(df_clean))

print()
plot_tot_revenue_per_city(df_clean)

### 3. När säljer vi? – finns tidsmönster/säsong i försäljningen?

 **Nyckeltal:** TBD

In [3]:
from src.metrics  import  revenue_over_time

#revenue_over_time(df_clean)

ts_month = revenue_over_time(df_clean)
ts_month.head()

c:\Users\Mauro\Desktop\Gruppuppgift -Linnéa branch\Gruppuppgift\src\metrics.py:174: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(freq)["revenue"]

                 month  revenue
0  2024-01-31 00:00:00      438
1  2024-02-29 00:00:00      352
2  2024-03-31 00:00:00      402
3  2024-04-30 00:00:00      423
4  2024-05-31 00:00:00      422

### 4. Hur ser en typisk order ut? – AOV (Average Order Value) och spridning.

**Nyckeltal:** AOV (Average Order Value)

### 5. Topp-listor – topp-3 kategorier efter intäkt.

**Nyckeltal:** Top-3 kategorier efter intäkt

### 6. Eventuella avvikelser – något oväntat mönster som sticker ut?

*Insikter om avvikelser som går att utläsa från sammanställning av datan ovan*

## Rekommendationer

Avsluta rapporten med 2–3 korta rekommendationer (punktlista) baserat på era resultat, t.ex. “Satsa på kategori X i stad Y under månad Z”.